# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*/__pycache__/*

# Virtual environment
venv/
.env/

# Uploads / temp data
package/uploads/*
!package/uploads/.gitkeep
*.wav

# Machine Learning / Jupyter cache
.ipynb_checkpoints/
*.safetensors
*.pt
*.bin
*.h5

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db